<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Create a Room</ion-title>
    <ion-button slot="end" fill="clear" (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="room.title" placeholder="Give your room a fancy name 🔥"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-button shape="round" expand="block" (click)="createRoom()">Create Room</ion-button>
  </ion-toolbar>
</ion-footer>
