:host {
  ::ng-deep {
      ion-content {
        --background: var(--ion-background-color);
      }
      ion-header {
        --background: var(--ion-background-color-accent);
        background: var(--background);
        ion-toolbar {
          --background: var(--ion-background-color-accent);
          background: var(--background);
        }
      }

      .floating-footer {
        width: 100%;
        padding-bottom: 10px;
        position: fixed;
        bottom: calc(var(--ion-default-footerbar-height) + var(--ion-safe-area-bottom));
      }

      /*
        modals
      */
      .create-room-modal {
        --max-height: 40vh;
      }

  }
}
