<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rooms
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rooms</ion-title>
    </ion-toolbar>
  </ion-header>

  <room-tile *ngFor="let room of rooms | async" [room]="room"></room-tile>

  <div id="container" style="min-height: 2000px;">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

</ion-content>
